{% extends 'DMSWebBundle::template.html.twig' %}

{% block body %}
<h1>Test</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            // Handler for .ready() called.
            console.log("Start with first Instruction");
            getInstructions();
        });

    </script>
{% endblock %}